

body{
	background: url('https://upload.wikimedia.org/wikipedia/commons/3/34/Rub_al_Khali_002.JPG');
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
}

#title-trivia {
    color: blue;
    text-align: center;
    margin: 10px 0 0 0;
    font-family: fantasy, Arial, Helvetica, sans-serif;
}

h1{
    font-size: 75px;
}

#btn-primary, #timer, #current-question, #question-asked, #answers-list{
    text-align: center;
}

#timer{
    font-family: loopy;

}

.btn-primary,.reset{
	background-color: #316177;
	color: white;
	font-size: 25px;
	padding: 5px;
    margin-top: 10px;
    cursor: -webkit-grab; cursor: grab;
}

.btn-primary:hover, .reset:hover{
    background-color: #1a1f79;
    cursor: -webkit-grab; cursor: grab;
}

h2, #message, #finalMessage{
    font-family: Arial, Helvetica, sans-serif;
}

#message{
    font-size: 30px;
    font: bold;
}

.thisChoice:hover{
	background-color: #316177;
	color: white;
    padding: 5px;
    cursor: -webkit-grab; cursor: grab;
}

#message-sent, #corrected-answer, #gifs, #final-message, #correct-answers, #wrong-answers, #no-answer, #start-over-btn{
    text-align: center;
}